{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/signup.css'%}"
    />
    <title>Document</title>
  </head>
  <body>
    <div class="modal fade" id="password" role="dialog">
      <div class="modal-dialog modal-sm">
        <!-- Modal content no 1-->
        <div class="modal-content">
          <!-- <div class="modal-body padtrbl">
                    <div class="login-box-body">
                        <p class="login-box-msg">Update Your Password</p>
                        <div class="form-group">
                            <form method="post">
                                {% csrf_token %}
                                {{ form.as_table }}
                                <button type="submit">Save changes</button>
                            </form>
                        </div>
                    </div>
                </div> -->
          <form method="POST" action="">
            {% csrf_token %}
            <h2>Change Your Password</h2>
            <p id="cmand">Update Your Password</p>
            <p>
              <label for="old_password" class="floatLabel labelstyl"
                >Old Password</label
              >
              {{form.old_password}}
              <!-- <input id="old_password" name="old_password" type="password"> -->
            </p>
            <p>
              {{form.new_password1}}
              <label for="new_password1" class="floatLabel labelstyl"
                >New Password</label
              >
              <!-- <input id="new_password1" name="new_password1" type="password"> -->
            </p>
            <p>
              {{form.new_password2}}
              <label for="new_password2" class="floatLabel labelstyl"
                >Confirmed New Password</label
              >
              <!-- <input id="new_password2" name="new_password2" type="password"> -->
            </p>
            <div>
              {% for message in messages %}
              <p id="mpass">{{message}}</p>
              {% endfor %}
            </div>
            <p>
              <input type="submit" value="Save changes" id="submit" />
            </p>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
